body {
    font-family: 'poppins-regular', sans-serif;
}

#aEdit {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#btnSuppr {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#box1 {
    animation: leftToRight .3s ease-in;
    height: fit-content;
}

@keyframes leftToRight {
    from {
        opacity: 0;
        margin-left: -50px;
    }

    to {
        opacity: 1;
    }
}

#box2 {
    animation: topToBottom .3s ease-in;
    margin-top: -20px;
}

#tabBox {
    animation: topToBottom .3s ease-in;
}

@keyframes topToBottom {
    from {
        opacity: 0;
        margin-top: -30px;
    }

    to {
        opacity: 1;
    }
}

#box3 {
    animation: rightToLeft .3s ease-in;
    height: fit-content;
}

@keyframes rightToLeft {
    from {
        opacity: 0;
        margin-right: -50px;
    }

    to {
        opacity: 1;
    }
}

#box5 {
    animation: rightToLeft .3s ease-in;
}
